<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list page</title>
</head>
<body>
    <h1>List</h1>
    <table border="1" align = 'center'>
        {% for x in data %}
        <thead>
            <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Author</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td align = 'center'>{{x['id']}}</td>
            <td align = 'center'>{{x['title']}}</td>
            <td>{{x['desc']}}</td>
            <td align = 'center'>{{x['author']}}</td>
            <td align = 'center'>{{x['create_at']}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
        <!-- {% for x in data %}
        <div style="margin-bottom: 40px;">
            <tr>ID: {{x['id']}}</tr>
            <tr>TITLE: {{x['title']}}</tr>
            <tr>DESC: {{x['desc']}}</tr>
            <tr>AUTHOR: {{x['author']}}</tr>
            <tr>CREATED AT: {{x['create_at']}}</tr>
        </div>
        {% endfor %} -->
    
    
</body>
</html>