{% extends "layouts.html" %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 2rem">
        <h1>List</h1>
        <table border="1" align = 'center'>
            {% for x in data %}
            <thead>
                <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th>Created</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td align = 'center'>{{x['id']}}</td>
                <td align = 'center'>{{x['title']}}</td>
                <td>{{x['desc']}}</td>
                <td align = 'center'>{{x['author']}}</td>
                <td align = 'center'>{{x['create_at']}}</td>
                <td><a href="/edit/{{x['id']}}"><button class="btn btn-primary">편집</button></a></td>
                <td><a href="/delete/{{x['id']}}"><button class="btn btn-danger" onclick="return confirm_func()" >삭제</button></a></td>
            </tr>
        </tbody>
        {% endfor %}
        </table>
            <!-- {% for x in data %}
            <div style="margin-bottom: 40px;">
                <tr>ID: {{x['id']}}</tr>
                <tr>TITLE: {{x['title']}}</tr>
                <tr>DESC: {{x['desc']}}</tr>
                <tr>AUTHOR: {{x['author']}}</tr>
                <tr>CREATED AT: {{x['create_at']}}</tr>
            </div>
            {% endfor %} -->
        
        <script>
        function confirm_func(){
            result = confirm('정말 삭제 하시겠습니까?')
            console.log(result)
            return result
        }
        </script>
    </div>
{% endblock%}